<!-- Page Heading -->
<h1 class="h3 mb-1 text-gray-800">我的清單</h1>
<!-- Content Row -->
<div class="row " id="card-wrap">
  <% @articles.each do |article| %>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-2 mb-2">
    <div class="card for-article h-100 " data-title="<%= article.title %>">
      <%= link_to (image_tag(article.images.last,  size:'300x200', class:"card-img-top") if article.article_images.attached?), article_path(article.id) %>
      <div class="card-body">
        <h5>
          <%= link_to article.title, article_path(article.id), class:"card-title card-title-search", data:{title: article.title} %>
        </h5>
        <p class="card-text"><%= article.short_description %></p>

      </div>
      <div class="card-footer d-flex justify-content-around" data-controller="tag publish read favorite">
        <input type="hidden" data-target="tag.articleId publish.articleId read.articleId favorite.articleId"
          value="<%= article.id %>">
        <a class="card-btn" data-action="favorite#heart">
          <% if article.favorite == true %>
          <i class="fas fa-heart" data-target="favorite.icon"></i>
          <% else %>
          <i class="far fa-heart" data-target="favorite.icon"></i>
          <% end %>
        </a>

        <a class="card-btn" data-action="read#check">
          <% if article.read == true %>
          <i class="fas fa-check-square" data-target="read.icon"></i>
          <% else %>
          <i class="far fa-check-square" data-target="read.icon"></i>
          <% end %>
        </a>

        <a class="card-btn" data-action="tag#editTag"><i class="fas fa-tag"></i></a>
        <a class="card-btn" data-action="publish#check">
          <% if article.publish == true %>
          <i class="fas fa-unlock-alt" data-target="publish.icon"></i>
          <% else %>
          <i class="fas fa-lock" data-target="publish.icon"></i>
          <% end %>
        </a>

        <span class="shared-btn-wrap">
          <button class="card-btn shared-btn js-collapse-btn"><i class="fas fa-share-alt"></i></button>
          <div class="shared-bar share-btn-collapse row p-1" style="background-color: pink;">
            <!-- 複製連結 -->
            <a class="shared-conect-btn" href="#"><i class="fas fa-link d-inline-block"></i>&nbspCopy&nbspLink</a>
            <input type="hidden" class="copylink" value="<%= article.link %>">

            <!-- Facebook share button code -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= article.link%>" target="_blank"><i class="fab fa-facebook-square d-inline-block"></i>&nbsp Facebook</a>

            <!-- Twitter share button code -->
            <a href="https://twitter.com/intent/tweet?text=<%= article.title %>&url=<%= article.link %>" target="_blank"><i class="fab fa-twitter-square d-inline-block"></i>&nbsp Twitter</a>  

            <!-- Line share button code -->
            <a href="https://social-plugins.line.me/lineit/share?url=<%= article.link %>" target="_blank"><i class="fab fa-line d-inline-block"></i>&nbsp Line</a>        
          </div>
        </span>              
      </div>
    </div>
  </div>
  <% end %>
</div>



<template id="tagSelect">
  <select name="article[tag_list][]" multiple="multiple" class="form-control">
  </select>
</template>
