<h1>我的清單</h1>

<div class="row">
  <% @articles.each do |article| %>
  <div class="card col-3">
    <a href="<%= article.link %>" target="_blank">
       <%= image_tag(article.images[2], size:'300x200') if article.article_images.attached? %>
    </a>
    <div class="card-body">
      <a href="<%= article.link %>" target="_blank" class="card-text"><%= article.domain %></a>
      <a href="<%= article.link %>" target="_blank"><h5 class="card-title"><%= article.title %></h5></a>
      <p class="card-text"><%= article.title %></p>  
      <div class="icon-bar">
            <div data-controller="favorite">
              <a class="card-btn" data-action="favorite#heart"><i class="far fa-heart" data-target="favorite.icon"></i></a>
              <input type="hidden" name="" data-target="favorite.article_id" value="<%= article.id %>">
            </div>
              <a class="card-btn"><i class="fas fa-tag"></i></a>
              <a class="card-btn"><i class="fas fa-check-double"></i></a>
              <a class="card-btn"><i class="fas fa-save"></i></a>
              <!-- <div class="shared-btn-wrap">
                <button class="card-btn shared-btn" @click="item.showSharedBar = !item.showSharedBar"><i class="fas fa-share-alt"></i></button>
                <div v-if="item.showSharedBar" class="shared-bar">
                  <button class="shared-conect-btn">複製連結</button>
                  <button class="shared-conect-btn">分享到twitter</button>
                  <button class="shared-conect-btn">分享到facebook</button>
                  <button class="shared-conect-btn">分享到line</button>
                </div>
              </div> -->
            </div> 
    </div>
  </div>
  <% end %>
</div>

 <!-- <div id="car-wrap">
  <at="<%= @articles_json %>rticle-list :lis"></article-list>
</div>  -->
