<div class="content">
  <div class="container">
    <h1>我的清單</h1>
    <div class="row" id="card-wrap">
      <% @articles.each do |article| %>
      <div class="col-12 col-md-4 mt-2 mb-2">
        <div class="card for-article h-100 " data-title="<%= article.title %>">
          <div>
            <%= link_to (image_tag(article.last,  size:'300x200', class:"card-img-top") if article.article_images.attached?), article_path(article.id) %>
          </div>
          <div class="card-body">
            <h5>
              <%= link_to article.title, article_path(article.id), class:"card-title card-title-search", data:{title: article.title} %>
            </h5>
            <p class="card-text"><%= article.short_description %></p>
                       
          </div>
          <div class="card-footer d-flex justify-content-around" data-controller="tag publish read favorite">
              <input type="hidden" data-target="tag.articleId publish.articleId read.articleId favorite.articleId"
                value="<%= article.id %>">
              <a class="card-btn" data-action="favorite#heart">
                <% if article.favorite == true %>
                <i class="fas fa-heart" data-target="favorite.icon"></i>
                <% else %>
                <i class="far fa-heart" data-target="favorite.icon"></i>
                <% end %>
              </a>

              <a class="card-btn" data-action="read#check">
                <% if article.read == true %>
                <i class="fas fa-book-open" data-target="read.icon"></i>
                <% else %>
                <i class="far fa-book-open" data-target="read.icon"></i>
                <% end %>
              </a>

              <a class="card-btn" data-action="tag#editTag"><i class="fas fa-tag"></i></a>
              <a class="card-btn" data-action="publish#check">
                <% if article.publish == true %>
                <i class="fas fa-unlock-alt" data-target="publish.icon"></i>
                <% else %>
                <i class="fas fa-lock" data-target="publish.icon"></i>
                <% end %>
              </a>


              <span class="shared-btn-wrap">
                <button class="card-btn shared-btn js-collapse-btn"><i class="fas fa-share-alt"></i></button>
                <div class="shared-bar share-btn-collapse" style="background-color: pink;">

                  <!-- 複製連結 -->
                    <button class="shared-conect-btn">複製連結</button>
                    <input type="hidden" class="copylink" value="<%= article.link %>">

                  <!-- Facebook share button code -->
                    <div class="fb-share-button" 
                        data-href="<%= article.link %>" 
                        data-layout="button">
                    </div>

                  <!-- Twitter share button code -->
                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=<%= article.link %>">
                        Tweet</a>

                  <!-- Line share button code -->
                    <div class="line-it-button" data-lang="zh_Hant" data-type="share-a" data-ver="3" data-url="<%= article.link %>" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
                      
                  </div>

                  <!-- Load Twitter SDK for JavaScript -->
                  <script>window.twttr = (function (d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                      if (d.getElementById(id)) return t;
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "https://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);

                      t._e = [];
                      t.ready = function (f) {
                        t._e.push(f);
                      };

                      return t;
                    }(document, "script", "twitter-wjs"));</script>

                  <!-- Your share button code -->
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=<%= article.link %>">
                    Tweet</a>

                  <!-- Load LINE SDK for JavaScript -->
                  <div class="line-it-button" data-lang="zh_Hant" data-type="share-a" data-ver="3"
                    data-url="<%= article.link %>" data-color="default" data-size="small" data-count="false"
                    style="display: none;"></div>
                  <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async"
                    defer="defer"></script>
              </span>              
            </div> 
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>

<template id="tagSelect">
  <select name="article[tag_list][]" multiple="multiple" class="form-control">
  </select>
</template>