<div class="container my-5 pt-5">
  <a href="#" class="inner-page-back-arrow"><h2 class="my-3 d-inline-block"><i class="fas fa-arrow-left" onclick="history.back()"></i></h2></a>      
  <div class="row col-12 justify-content-center mx-auto">
    <div class="single_article_info">
      <div class="single_article_title">
        <h1><%= @article.title %></h1>
      </div>
      <div class="single_article_detail">
        <div class="msgoogle row mt-5 mb-3 justify-content-center align-items-center">
            <div class="loading d-none">讀取中...</div>
            
            <% if @article.encode_string != nil %>
              <audio id="js-speech-player" src="data:audio/mpeg;base64,<%= @article.encode_string %>" controls></audio>
            <% else %>
              <%= link_to create_speech_api_v1_article_path(@article.id), method: 'post', remote: true, class:'px-2 d-flex justify-content-center align-content-center', id: 'js-create-speech' do %>
                <i class="fas fa-volume-down" style="font-size: 60px;"></i>唸給你聽
              <% end %>
              <audio id="js-speech-player" class="d-none" src="###" controls></audio>
            <% end %>
        </div>
        <div class="single_article_website row justify-content-center">
          <p class="px-3">文章來源：<%= @article.domain %> </p>
          <a href="<%= @article.link %>" target="_blank">查看原始文章</a>
        </div>
        <div class="single_article_tags  row justify-content-center mb-3">
          <% @article.tags.each do |tag| %>
            <span class="badge badge-secondary mx-2"><%= tag.name %></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="single_article_cover w-100">
      <img src="<%= @article.images.last %>" alt="" width="100%">
    </div>
    <article id="content" class="clean_html my-5 w-100" data-controller="highlight">
      <%= @article.clean_content.html_safe %>
      <input type="hidden" data-target="highlight.articleId" value="<%= @article.id %>">
    </article>
  </div>
</div>

<button id="tooltip" class="btn notDisplayed">
</button>