<a href="#"><h2 class="ml-5"><i class="fas fa-arrow-left" onclick="history.back()"></i></h2></a>  
<div class="container">
    <div class="row">
      <h1><%= @article.title %></h1>
      <div>
        <p>文章來源：<%= @article.domain %></p>
      </div>
      <div>
        <a href="<%= @article.link %>" target="_blank" style="color: blue;">查看原始檔</a>
      </div>
      <hr>
      <div>
        <img src="<%= @article.images[2] %>" alt="" width="80%">
      </div>
      <article>
        <%= @article.clean_content.html_safe %>
      </article>
    </div>
</div>







