<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>
  <head>
    <title>FiveDimensionPocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('five-dimension-pocket.ico') %>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=DM+Sans&family=Lato&family=Palanquin&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
  </head>
  <body>
    <div class="container mx-auto">     
      <nav class="home navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="https://i.imgur.com/d8BNE4i.jpg" alt="" class="nav-logo">
        <%= link_to unauthenticated_root_path, class: 'logo-icon btn navbar-brand pl-0', method: 'get' do %> 
          <span class="logo-name">&nbsp&nbspFive Dimension Pocket</span>
        <% end %>

        <div class="collapse navbar-collapse justify-content-end my-3" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item nav-login">
              <%= button_to new_user_session_path, class: 'btn mr-1', method: 'get' do %>
                <span class="login-icon home-login"><i class="fas fa-user"></i>&nbsp登入</span>
              <% end %>
            </li>
            <li class="nav-item">
              <%= button_to '立即註冊', new_user_registration_path, class: 'home-registar btn btn-opacity-success mr-1', method: 'get' %>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row flex-column align-items-center">
        <div class="main-slogan col-12 mt-5 mb-3">
          <h1>Pocket Your Knowledge</h1>
          <p class="py-2">輸入網址，即可將您的知識打包進 Pocket</p>
        </div>
        <div class="input-group mb-3 call-to-action-btn col-10 col-md-6" id="try-free">
          <input type="text" class="form-control" placeholder="www.myfavorite.com/articles/520" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <%= link_to '免費體驗', new_user_registration_path, class: 'home-free btn btn-opacity-success input-group-append', method: 'get' %>
          </div>
        </div>
        <div class="main-cover">
          <img src="https://i.imgur.com/IH2YUGi.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </body>
</html>