<h1>我的清單</h1>

<div class="row">
  <% @articles.each do |article| %>
  <div class="card col-3">
    <a href="<%= article.link %>" target="_blank">
       <%= image_tag(article.images.first) if article.article_images.attached? %>
    </a>
    <div class="card-body" data-controller="tag">
      <a href="<%= article.link %>" target="_blank" class="card-text"><%= article.domain %></a>
      <a href="<%= article.link %>" target="_blank"><h5 class="card-title"><%= article.title %></h5></a>
      <p class="card-text"><%= article.title %></p> 
      <input type="hidden" data-target="tag.articleId" value="<%= article.id %>">  
      <button class="btn btn-warning" data-action="tag#editTag">Tag</button>
    </div>
  </div>
  <% end %>
</div>

 <!-- <div id="car-wrap">
  <at="<%= @articles_json %>rticle-list :lis"></article-list>
</div>  -->

<template id="tagSelect">
  <select name="select2-multiple" multiple="multiple" class="form-control"></select>
</template> 