<h1>我的清單</h1>

<div class="row">
  <% @articles.each do |article| %>
  <div class="card col-3">
    <a href="<%= article.link %>" target="_blank"><img src="https://picsum.photos/300/200/?random=1" width="100%"></a>
    <div class="card-body">
      <a href="<%= article.link %>" target="_blank" class="card-text"><%= article.domain %></a>
      <a href="<%= article.link %>" target="_blank"><h5 class="card-title"><%= article.title %></h5></a>
      <p class="card-text"><%= article.content.split('').first(60).join('') %></p>   
    </div>
  </div>
  <% end %>

</div>