<div class="container col-12 mt-5 pt-5">
  <div class="page-bar row justify-content-between py-4">
    <h1 class="h3 mb-1 text-gray-800"><%= title %></h1>
  </div>
  <div class="btn-group row align-items-center nav col-xl-4 col-md-12" role="group" aria-label="Basic example">
    <%= link_to '探索新知', explores_path, class:'btn btn-info' %>
    <%= link_to '追蹤清單', followings_path, class:'btn btn-info active' %>
  </div>
  <div class="row" id="card-wrap">
    <% users.each do |user| %>
    <div class="container mt-5">
      <div class="row p-2 justify-content-between" data-controller="follow">
        <div class="user-name">
          <%= image_tag((user.avatar_thumbnail), class: 'rounded-circle')%>
          <%= link_to "#{user.name}", profiles_path(id: user.id), class: 'px-2' %>
            <input type="hidden" data-target="follow.userId" value="<%= user.id %>">
          <% if current_user.follow_lists.find_by(following_id: user.id) %>
            <button class="btn btn-info" data-target="follow.followBtn" data-action="follow#check">追蹤中</button>
          <% elsif current_user.id == user.id %>
            <i class="fas fa-crown"></i>
          <% else %>
            <button class="btn btn-outline-info" data-target="follow.followBtn" data-action="follow#check">追蹤</button>
          <% end %>
        </div>
      </div>

      <div class="row">
        <% user.user_last_articles.each do |record| %>

        <div class="col-12 col-md-4 mt-2 mb-4">
          <div class="card for-article h-100">
            <div>
              <%= image_tag(record.article.images.last, size:'300x200',class: "card-img-top") if record.article.article_images.attached?  %>
            </div>
            <div class="card-body">
              <h5>
                <%= link_to record.article.title, article_path(record.article.id), class:"card-title" %>
              </h5>
              <p class="card-text"><%= record.article.short_description %></p>
            </div>

            <div class="card-footer d-flex justify-content-around" data-controller="explore">
              <input type="hidden" data-target="explore.articleId" value="<%= record.article.id %>">
              <%= form_for @article, url: articles_path, method:'post' , html: { id: "save_article_#{ record.article.id }" }  do |f| %>
              <%= f.text_field :link, value: record.article.link, type: 'hidden', id: "article_#{ record.article.id }" %>
              <button type="submit" class="btn btn-outline-warning">
                <i class="fas fa-save" data-action="explore#saveArticle"></i>儲存
              </button>
              <% end %>
              <span class="shared-btn-wrap dropup">
                <a href="###" class="card-btn shared-btn js-collapse-btn"><i class="fas fa-share-alt"></i></a>
                <!-- <button class="card-btn shared-btn js-collapse-btn"><i class="fas fa-share-alt"></i></button> -->
                <div class="shared-bar share-btn-collapse row p-1 dropdown-menu">
                  <!-- 複製連結 -->
                  <a class="shared-conect-btn dropdown-item" href="#"><i
                      class="fas fa-link d-inline-block"></i>&nbspCopy&nbspLink</a>
                  <input type="hidden" class="copylink" value="<%= record.article.link %>">

                  <!-- Facebook share button code -->
                  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= record.article.link%>" target="_blank"
                    class="dropdown-item"><i class="fab fa-facebook-square d-inline-block"></i>&nbsp Facebook</a>

                  <!-- Twitter share button code -->
                  <a href="https://twitter.com/intent/tweet?text=<%= record.article.title %>&url=<%= record.article.link %>"
                    target="_blank" class="dropdown-item"><i class="fab fa-twitter-square d-inline-block"></i>&nbsp
                    Twitter</a>

                  <!-- Line share button code -->
                  <a href="https://social-plugins.line.me/lineit/share?url=<%= record.article.link %>" target="_blank"
                    class="dropdown-item"><i class="fab fa-line d-inline-block"></i>&nbsp Line</a>
                </div>
              </span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>