<body>
  <%= render "shared/articles/header"%>
  <%= render "shared/articles/sidebar"%>
  <div class="content">
    <div class="container">
      <div class="row">
        <label class="rocker rocker-small">
          <input type="checkbox">
          <span class="switch-left">追蹤</span>
          <span class="switch-right">探索</span>
        </label>
      </div>
    </div>
    <div class="explore-block">
      <% @Users.each do |user| %>
      <div class="container">
        <div class="row">
          <%= image_tag((user.avatar_thumbnail), class: 'rounded-circle')%>
          <div class="user-name">
            <a href="#"><%= user.name %></a>
          </div>
          <button class="btn btn-outline-primary">follow</button>
        </div>
      </div>
      <% user.user_last_articles.each do |record| %>
      <div class="container">
        <div class="row">
          <div class="card col-12 col-md-4">
            <a href="#">
              <%= image_tag(record.article.images[2], size:'300x200',class: "card-img-top") if record.article.article_images.attached?  %>
            </a>
            <div class="card-body">
              <p class="card-text"><%= record.article.title %></p>
              <a href="#">
                <div>
                  <a href="<%= last.article.link %>" target="_blank">
                    <h5 class="card-title"><%= record.article.title %></h5>
                  </a>
                </div>
              </a>
              <a href="<%= record.article.link %>" target="_blank" class="card-text"><%= last.article.domain %></a>
              <p class="card-text"><%= last.article.title %></p>
              <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
            </div>
            <div class="card-footer">
              <div class="icon-bar" data-controller="explore">
                <input type="hidden" data-target="explore.articleId" value="<%= record.article.id %>">
                <a class="card-btn"><i class="fas fa-save" data-action="explore#saveArticle"></i></a>
                <a class="card-btn" data-action="explore#saveArticle">分享文章</a>
              </div>
            </div>
            <div class="bottom-line"></div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
