<body>
  <%= render "shared/articles/header"%>
  <%= render "shared/articles/sidebar"%>
  <div class="content">
    <div class="container">
      <div class="row">
        <label class="rocker rocker-small">
          <input type="checkbox">
          <span class="switch-left">追蹤</span>
          <span class="switch-right">探索</span>
        </label>
      </div>
    </div>
    <div class="explore-block">
      <% @Userlast.each do |last| %>
      <div class="container">
        <div class="row">
            <img src="https://picsum.photos/id/25/50" alt="" class="rounded-circle">
          <div class="user-name">
            <a href="#"><%= last.article.user.name %></a>
          </div>
            <button class="btn btn-outline-primary">follow</button>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="card col-12 col-md-4">
            <a href="#">
              <%= image_tag(last.article.images[2], size:'300x200',class: "card-img-top") if last.article.article_images.attached?  %>
            </a>
            <div class="card-body">
              <a href="#">
                <div>                  
                  <a href="<%= last.article.link %>" target="_blank"><h5 class="card-title"><%= last.article.title %></h5></a> 
                </div>
              </a>
              <a href="<%= last.article.link %>" target="_blank" class="card-text"><%= last.article.domain %></a>
              <p class="card-text"><%= last.article.title %></p> 
              <a href="#" class="btn btn-primary"><i class="fas fa-save"></i></a>
            </div>

            <div data-controller="explore">
              <input type="hidden" data-target="explore.articleId" value="<%= last.article.id %>"> 
              <a><i class="fas fa-save" data-action="explore#saveArticle"></i></a>
              <a data-action="explore#saveArticle">分享文章</a>              
            </div> 

            <div class="bottom-line"></div>
          </div>  
        </div>
      </div>
      <% end %>
    </div>
  </div>
</body>