<div class="container">
  <div class="row justify-content-center">
    <% @Users.each do |user| %>   
      <div class="col-md-12 pt-2"> 
        <%= image_tag((user.avatar_thumbnail), class: 'user-img')%>
        <span><%= user.name %></>  
      </div>
      <% user.user_last_articles.each do |record| %>
        <div class="col-md-4 pt-2">  
          <div class="card h-100">
            <%= image_tag(record.article.images[2], size:'300x200',class: "card-img-top") if record.article.article_images.attached?  %>
            <div class="card-body">   
              <a href="<%= record.article.link %>" target="_blank" class="card-text"><%= record.article.domain %></a>
              <a href="<%= record.article.link %>" target="_blank"><h5 class="card-title"><%= record.article.title %></h5></a>
              <p class="card-text"><%= record.article.title %></p>  
            </div>
            <div class="card-footer">
              <div class="icon-bar" data-controller="explore">
                <input type="hidden" data-target="explore.articleId" value="<%= record.article.id %>"> 
                <a class="card-btn"><i class="fas fa-save" data-action="explore#saveArticle"></i></a>
                <a class="card-btn" data-action="explore#saveArticle">分享文章</a>              
              </div> 
            </div>
          </div>  
        </div>
      <% end %>     
    <% end %>
  </div>
</div>

