<h1 class="h3 mb-1 text-gray-800">探索</h1>
<div class="row mt-3" id="card-wrap">
  <!-- <label class="rocker rocker-small">
    <input type="checkbox">
    <span class="switch-left">追蹤</span>
    <span class="switch-right">探索</span>
  </label> -->
  <div class="btn-group row align-items-center" role="group" aria-label="Basic example">
    <%= link_to '探索', explores_path, class:'btn btn-info' %>
    <%= link_to '追蹤', following_path, class:'btn btn-info' %>
  </div>

  <div class="explore-block">
    <% @Users.each do |user| %>
    <div class="container">
      <div class="row mt-4" data-controller="follow">
        <%= image_tag((user.avatar_thumbnail), class: 'rounded-circle')%>
        <div class="user-name">
          <%= link_to "#{user.name}", profile_path(id: user.id) %>
          <input type="hidden" data-target="follow.userId" value="<%= user.id %>">
          <% if current_user.follow_lists.find_by(following_id: user.id) %>
          <button class="btn btn-info" data-target="follow.followBtn" data-action="follow#check">追蹤中</button>
          <% elsif current_user.id == user.id %>
          <i class="fas fa-crown"></i>
          <% else %>
          <button class="btn btn-outline-info" data-target="follow.followBtn" data-action="follow#check">追蹤</button>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <% user.user_last_articles.each do |record| %> 
          <div class="col-12 col-md-4 mt-2">
            <div class="card for-article h-100">
              <a href="#">
                <%= image_tag(record.article.images.last, size:'300x200',class: "card-img-top") if record.article.article_images.attached?  %>
              </a>
              <div class="card-body">
                <a href="#">
                  <div>
                    <a href="<%= record.article.link %>" target="_blank">
                      <h5 class="card-title"><%= record.article.title %></h5>
                    </a>
                  </div>
                </a>
                <a href="<%= record.article.link %>" target="_blank" class="card-text"><%= record.article.domain %></a>
                <p class="card-text"><%= record.article.short_description %></p>

              </div>
              <div class="card-footer d-flex justify-content-around" data-controller="explore">
                <input type="hidden" data-target="explore.articleId" value="<%= record.article.id %>">
                <%= form_for @article, url: articles_path, method:'post' , html: { id: "save_article_#{ record.article.id }" }  do |f| %>
                <%= f.text_field :link, value: record.article.link, type: 'hidden', id: "article_#{ record.article.id }" %>
                <button type="submit" class="btn btn-outline-warning">
                  <i class="fas fa-save"
                    data-action="explore#saveArticle"></i>儲存
                </button>
                <% end %>
                <span class="shared-btn-wrap">
                  <button class="card-btn shared-btn js-collapse-btn"><i class="fas fa-share-alt"></i></button>
                  <div class="shared-bar share-btn-collapse row p-1" style="background-color: pink;">
                    <!-- 複製連結 -->
                    <a class="shared-conect-btn" href="#"><i class="fas fa-link d-inline-block"></i>&nbspCopy&nbspLink</a>
                    <input type="hidden" class="copylink" value="<%= record.article.link %>">
        
                    <!-- Facebook share button code -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= record.article.link%>" target="_blank"><i class="fab fa-facebook-square d-inline-block"></i>&nbsp Facebook</a>
        
                    <!-- Twitter share button code -->
                    <a href="https://twitter.com/intent/tweet?text=<%= record.article.title %>&url=<%= record.article.link %>" target="_blank"><i class="fab fa-twitter-square d-inline-block"></i>&nbsp Twitter</a>  
        
                    <!-- Line share button code -->
                    <a href="https://social-plugins.line.me/lineit/share?url=<%= record.article.link %>" target="_blank"><i class="fab fa-line d-inline-block"></i>&nbsp Line</a>        
                  </div>
                </span>  
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
</div>