<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>
  <head>
    <title>FiveDimensionPocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
  <%= render "shared/articles/header"%>
  <%= render "shared/articles/sidebar"%>
      <span class="notice"> <%= notice %> </span>
      <div class="modal" id="flash-alert">
        <div class="modal-body"><%= alert %></div>
      </div>
      <span class="flash alert"> <%= alert %> </span>
        <%= yield %>
      <%= render "shared/footer" %>
  </body>
</html>
