<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>
  <head>
    <title>FiveDimensionPocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
      <%# span class="notice"> <%= notice </span>%>
      <%# span class="alert"> <%= alert </span> %>
      <%= render "shared/articles/header"%>
      <div class="content">
        <%= render "shared/articles/sidebar"%>
        <%= yield %>
      </div>
      <%= render "shared/footer" %>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Load Twitter SDK for JavaScript -->
                      <script>window.twttr = (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                          t = window.twttr || {};
                        if (d.getElementById(id)) return t;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                      
                        t._e = [];
                        t.ready = function(f) {
                          t._e.push(f);
                        };
                      
                        return t;
                      }(document, "script", "twitter-wjs"));</script>
    
                      
    <!-- Load LINE SDK for JavaScript -->
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

  </body>
</html>
