<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>
  <head>
    <title>FiveDimensionPocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js' %>
  </head>

  <body id="page-top">
    <div class="main-content mx-auto" id="wrapper">
      <%= render "shared/navbar"%>
      <%= render "shared/sidebar"%>
      <div id="content-wrapper" class="d-flex flex-column">
          <div class="container-fluid">
            <span class="notice"> <% notice %> </span>
            <div class="alert alert-warning alert-dismissible fade d-none" role="alert" id="flash-alert">
              <span class="flash alert modal-body"> <%= alert %> </span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= yield %>
        </div>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
