<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<html>
  <head>
    <title>FiveDimensionPocket</title>
    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <!-- <%= render "shared/devise/navbar" %> -->
    <span class="notice"> <%= notice %> </span>
    <span class="alert"> <%= alert %> </span>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
